@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:400,700');

html {
  text-align: center;
  background: url(resources/hyland-hilltop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

body, html {
  height: 100%;
}