/* common.css is implicitly imported by Meteor via symbolic link */

html {
  background: url(img/hyland-hilltop-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);
}

header {
  padding: 50px;
}

header a.back-home {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color: white;
  transition: padding 1s;
  text-decoration: none;
  cursor: pointer;
}

header a.back-home img, header a.back-home span {
  vertical-align: middle;
  padding-right: 8px;
}

header a:hover {
  padding-left: 20px;
}

header a:hover span {
  color: yellow;
  text-decoration: underline;
}

header h1 {
  margin: 0;
  padding-top: 10px;
}

section.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

section.spacer {
  display: flex;
  flex-grow: 5;
}

.code-container, .code-container * {
  text-align: center;
}

.code-container form {
  border: 2px solid white;
}

.fancy-parentheses {
  background-image: url(img/code-parens-white.png);
  background-position: center;
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.code-container p {
  margin-left: 10px;
  margin-right: 10px;
}

.code-header {
  transition: all 0.5s;
  overflow: hidden;
  height: 0;
  margin-bottom: 0;
}

.code-header.visible {
  height: 30px;
  margin-bottom: 10px;
}

input.code {
  font-family: 'Raleway', sans-serif;
  font-size: 135px;
  height: 150px;
  width: 350px;
  text-align: center;
  font-weight: bold;
  background: transparent;
  border: 0;
  color: white;
  outline: none;
}

.code-footer {
  transition: all 0.5s;
  overflow: hidden;
  height: 0;
  margin: 0;
}

.code-footer.visible {
  margin-top: -10px;
  height: 60px;
}

a.no-code, .luggage {
  color: white;
  font-size: 14px;
  height: 25px;
}

.code-container .no-such-code, .code-container .matching-invitation {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.code-container .no-such-code.visible {
  height: 61px;
}

.code-container .matching-invitation.visible {
  height: 125px;
}

@media (max-width: 768px) {
  .code-container {
    width: 420px;
  }

  .fancy-parentheses {
    width: 320px;
    height: 150px;
  }

  .code-header.visible {
    margin-top: 16px;
    height: 48px;
    margin-bottom: 0;
  }

  input.code {
    width: 300px;
    font-size: 110px;
  }

  .code-footer.visible {
    margin-top: -10px;
    margin-bottom: 10px;
    height: 45px;
  }
}
