/* common.css is implicitly imported by Meteor via symbolic link */

html {
  background: url(img/hyland-hilltop-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);
}

main a {
  vertical-align: baseline;
}

header {
  padding: 50px;
}

header a.back-home {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color: white;
  transition: padding 1s;
  text-decoration: none;
  cursor: pointer;
}

header a.back-home img, header a.back-home span {
  vertical-align: middle;
  padding-right: 8px;
}

header a:hover {
  padding-left: 20px;
}

header a:hover span {
  color: yellow;
  text-decoration: underline;
}

header h1 {
  margin: 0;
  padding-top: 10px;
}

section.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

section.spacer {
  display: flex;
  flex-grow: 5;
}

.code-container, .code-container * {
  text-align: center;
}

.code-container .code-form {
  border: 2px solid transparent;
  transition: all 0.5s;
  margin-top: -50px;
}

.code-container .code-form.border {
  border: 2px solid white;
  margin-top: 0;
}

.fancy-parentheses {
  background-image: url(img/code-parens-white.png);
  background-position: center;
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;
  transition: all 0.5s;
  overflow: hidden;
  height: 0;
}

.fancy-parentheses.visible {
  height: 160px;
}

.fancy-parentheses input {
  transition: all 0.5s;
  font-size: 0;
  height: 0;
}

.fancy-parentheses.visible input {
  font-size: 135px;
  height: 150px;
}

.code-container p {
  margin-left: 10px;
  margin-right: 10px;
}

.code-header {
  transition: all 0.5s;
  overflow: hidden;
  height: 0;
  margin-bottom: 0;
}

.code-header.visible {
  height: 30px;
  margin-bottom: 10px;
}

input.code {
  font-family: 'Raleway', sans-serif;
  width: 350px;
  text-align: center;
  font-weight: bold;
  background: transparent;
  border: 0;
  color: white;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.code-footer {
  transition: all 0.5s;
  overflow: hidden;
  height: 0;
  margin: 0;
}

.code-footer.visible {
  margin-top: -10px;
  height: 60px;
}

a.no-code, .luggage {
  color: white;
  font-size: 14px;
  height: 25px;
}

.code-container .no-such-code, .code-container .matching-invitation {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.code-container .no-such-code.visible {
  height: 61px;
}

.code-container .matching-invitation.visible {
  height: 218px;
}

.code-container .matching-invitation p {
  margin-bottom: 10px;
}

.yes-no-buttons button {
  padding: 25px;
  margin: 10px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  background: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.5s;
}

.yes-no-buttons button.yes {
  background-color: rgba(0,255,0,0.1);
}

.yes-no-buttons button.no {
  background-color: rgba(255,0,0,0.1);
}

.yes-no-buttons button:hover {
  background-color: rgba(255,255,255,0.8);
}

.yes-no-buttons button:active {
  background-color: white;
}

.yes-no-buttons button.yes:hover {
  color: green;
}

.yes-no-buttons button.no:hover {
  color: red;
}

.code-container {
  width: 504px;
}

.post-response-form h2.cursive {
  margin: 15px;
}

p.extra-side-margins {
  margin-left: 40px;
  margin-right: 40px;
}

p.extra-bottom-margin {
  margin-bottom: 30px;
}

.no-top-margin {
  margin-top: 0;
}

.small-padding {
  padding-top: 5px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.envelope-hand {
  position: relative;
  top: -20px;
  left: -5px;
}

.guest-count {
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
}

.guest-count .emoji {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

.guest-count .emoji span {
  margin: 0 5px;
}

.guest-count .number {
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
}

.guest-count .add-guest {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  font-weight: normal;
}

.envelope .header h3 {
  font-size: 22px;
  padding-top: 2px;
}

.envelope.edit-mode .header h3 {
  padding-top: 0;
  font-size: 18px;
}

.envelope .header h3 span {
  margin-left: 5px;
}

.envelope.edit-mode .footer {
  margin-bottom: 15px;
}

.envelope .cursive.name {
  font-size: 24px;
  font-weight: bold;
  background: rgba(0,0,0,0.1);
  padding: 10px;
  border: 1px dashed black;
  width: 250px;
  display: inline-block;
  cursor: text;
  color: #808080;
  text-decoration: none;
}

.envelope .cursive.name:hover {
  background: rgba(255,255,255,0.5);
  color: black;
}

.envelope.edit-mode input.guest-name {
  font-size: 18px;
  padding: 5px;
  margin-right: 15px;
  font-family: 'Raleway', sans-serif;
  width: 250px;
}

.envelope.edit-mode input.guest-name::placeholder {
  opacity: 0.5;
}

.envelope.edit-mode .remove-button {
  text-decoration: none;
  opacity: 0.2;
}

.envelope.edit-mode .remove-button:hover {
  text-decoration: none;
  opacity: 1;
}

.envelope .comment-box p.small {
  margin-bottom: 15px;
}

.envelope .comment-box textarea {
  width: 380px;
  height: 100px;
  padding: 15px;
  text-align: left;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

.envelope .comment-box textarea::placeholder {
  opacity: 0.2;
}

.guest-name-plate {
  margin: 15px;
}

input.guest-allergy {
  margin-left: 10px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  font-weight: bold;
}

h5.allergy strong {
  margin-left: 2px;
}

input.guest-allergy::placeholder {
  opacity: 0.5;
}

@media (max-width: 768px) {

  .envelope .header h3 {
    font-size: 22px;
    padding-top: 2px;
  }
  .envelope .comment-box textarea {
    width: 300px;
  }

  .code-container {
    width: 390px;
  }

  .fancy-parentheses {
    width: 290px;
  }

  .fancy-parentheses.visible {
    height: 150px;
  }

  .code-header.visible {
    margin-top: 16px;
    height: 48px;
    margin-bottom: 0;
  }

  .fancy-parentheses.visible input.code {
    width: 275px;
    font-size: 100px;
  }

  .code-footer.visible {
    margin-top: -10px;
    margin-bottom: 10px;
    height: 45px;
  }

  .code-container {
    width: 390px;
  }

  .code-container .no-such-code.visible {
    height: 80px;
  }

  .code-container .matching-invitation.visible {
    height: 235px;
  }

  .yes-no-buttons button {
    max-width: calc(50% - 30px);
  } 
}