/* common.css is implicitly imported by Meteor via symbolic link */

html {
  background: url(img/hyland-hilltop-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);
}

header {
  padding: 50px;
}

header h1 {
  margin: 0;
  padding-top: 10px;
}

section.form-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(30vh);
}

section.form-container form {
  border: 2px solid white;
}

input.code {
  font-family: 'Raleway', sans-serif;
  font-size: 140px;
  height: 150px;
  width: 320px;
  text-align: center;
  font-weight: bold;
  background: transparent;
  border: 0;
  color: white;
  outline: none;
}

a.no-code {
  color: white;
  font-size: 14px;
}
