@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:400,700');

html {
  text-align: center;
  color: white;
  background: url(img/onthelake-b.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right;
  min-height: 100%;
}

body, html {
  height: 100%;
}

#root {
  min-height: 100%;
}

.fullscreen {
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 62px;
  font-weight: normal;
  min-width: 150px;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
  font-weight: normal;
  min-width: 150px;
}

h3, h4, h5, h6, p {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

#countdown h3 {
  font-size: 48px;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 18px 45px;
}

strong {
  font-size: 20px;
}

#countdown {
  padding-bottom: 5px;
}

#countdown h2 {
  font-size: 48px;
  margin: 0;
  white-space: nowrap;
}

article {
  margin-bottom: 150px;
}

a.gallery {
  transition: all 1s;
  position: absolute;
  bottom: 15px;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
  bottom: 15px;
  opacity: 0.7;
}

a.gallery:hover {
  bottom: 25px;
  opacity: 1;
}

a.gallery h2 {
  margin-bottom: 5px;
}

.image-gallery-fullscreen-button, .image-gallery-play-button {
  display: none;
}

.image-gallery-content .image-gallery-left-nav,
.image-gallery-content .image-gallery-right-nav {
  border: none;
  -webkit-appearance: none;
  background: transparent;
}

.image-gallery-thumbnails-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 2px solid #000;
}

.image-gallery-thumbnails {
  background: #000 !important;
}

.image-gallery-image img {
  height: calc(100vh - 90px);
  margin-bottom: 90px;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .fullscreen {
    min-height: calc(100vh - 64px);
  }

  .image-gallery-image img {
    height: calc(100vh - 64px)
  }
}