@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:400,700');

html {
  text-align: center;
  color: white;
  background: url(img/onthelake-b.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right;
  min-height: 100%;
}

body, html {
  height: 100%;
}

#root {
  min-height: 100%;
}

.fullscreen {
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.minus-thumbnails {
  min-height: calc(100vh - 90px);
}

.halfscreen {
  min-height: calc(60vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.photostrip img {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 62px;
  font-weight: normal;
  min-width: 150px;
}

h2, h3, h4, h5, h6, p, .back-to-top a {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 28px;
}

h2.cursive {
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
  font-weight: normal;
  min-width: 150px;
}

h3 {
  font-size: 24px;
}

h3.subheading {
  margin-top: -20px;
}

a {
  color: #4ccbff;
  vertical-align: middle;
}

a:hover {
  color: yellow;
}

a img {
  vertical-align: middle;
}

a img.inline-right {
  margin-left: 5px;
  position: relative;
  top: -2px;
}

#countdown h3 {
  font-size: 48px;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 18px 45px;
  line-height: 24px;
}

strong {
  font-size: 1.1em;
}

#countdown {
  padding-bottom: 5px;
}

#countdown h2 {
  font-size: 48px;
  margin: 0;
  white-space: nowrap;
}

.main-container article {
  margin-bottom: 150px;
}

.main-links {
  position: absolute;
  bottom: 15px;
  margin: auto;
  left: 0;
  right: 0;
  padding: 0;
}

.main-links a {
  display: inline-block;
  margin: 0;
  padding: 0 18px;
  transition: all 1s;
  position: relative;
  bottom: 0px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}

.main-links .scroll-arrow {
  line-height: 10px;
  display: block;
  cursor: pointer;
}

.main-links:hover a.scroll-arrow,
.main-links:hover .anchors:not(:hover) a.details,
.main-links a:hover {
  bottom: 10px;
  opacity: 1;
}

.main-links a h2 {
  margin-bottom: 5px;
  margin-top: 0;
}

.back-to-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9998;
  cursor: pointer;
}

.back-to-top img {
  height: 22px;
  width: auto;
  margin-left: 12px;
  padding-bottom: 3px;
  vertical-align: middle;
  cursor: pointer;
}

.back-to-top span {
  transition: background-color 0.5s, padding 0.5s;
  display: inline-block;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  font-size: 18px;
  padding: 10px 15px 8px 15px;
  text-decoration: none;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 9999;
}

.back-to-top:hover span {
  background-color: rgba(65,105,225,1);
  text-decoration: underline;
  padding: 15px 20px 12px 20px;
}

.registry-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  margin-top: -10px;
}

.registry-flex .left, .registry-flex .right {
  flex: 1 300px;
  min-width: 0;
  margin-top: 20px;
}

.registry-flex img {
  width: 80%;
  height: auto;
  margin: auto;
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 30px;
} 

.image-gallery-fullscreen-button, .image-gallery-play-button {
  display: none;
}

.image-gallery-content .image-gallery-left-nav,
.image-gallery-content .image-gallery-right-nav {
  border: none;
  -webkit-appearance: none;
  background: transparent;
  outline: 0;
  transition: all 1s;
}

.image-gallery-content .image-gallery-left-nav:hover {
  margin-left: -5px;
}
.image-gallery-content .image-gallery-right-nav:hover {
  margin-right: -5px;
}

.image-gallery-thumbnails-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 2px solid #000;
}

.image-gallery-thumbnails {
  background: #000 !important;
}

.image-gallery-image img {
  height: calc(100vh - 90px);
  margin-bottom: 90px;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {

  h2 { 
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  .fullscreen {
    min-height: calc(100vh - 64px);
  }

  .main-links {
    position: static;
  }

  .main-links a {
    display: block;
    padding-bottom: 15px;
    bottom: 0;
  }
  
  .main-links:hover a.scroll-arrow,
  .main-links:hover .anchors:not(:hover) a.details,
  .main-links a:hover {
    bottom: 0;
  }

  .image-gallery-image img {
    height: calc(100vh - 64px)
  }
}